/*
    Reset de estilos default do user agent (browser)
**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    background-image: url("imagens/imgs/background_body.png");
    font-family: Helvetica Neue;
    color: white;
}

.weather-full-info:last-child {
    display: none;
}

.sidebar {
    display: none;
}

.main-icon {
    display: none;
}

.text-opinion {
    display: none;
}

.text-tomorrow {
    display: none;
}

.main-class {
    background-color: rgb(51, 51, 51, 0.6);
    width: 100%;
}

.main-temperature {
    font-size: 500%;
    padding-top: 10%;
}

.current-main-info {
    display: flex;
    justify-content: center;
}

.searchbox-mobile {
    display: block;
}

.current-time {
    display: flex;
    justify-content: flex-end;
    padding-top: 5%;
    padding-right: 5%; 
}


.weather-conditions {
    display: flex;
    justify-content: space-around;
    padding-top: 25%;
    padding-bottom: 5%;
}

.weather-info {
    display: flex;
    flex-direction: column;
}

.weather-info-icon {
    position: fixed;
}

.weather-info-text {
    padding-left: 95%;
    padding-top: 20%;    
}

.footer-next-days {
    color: #333;
    display: flex;
    justify-content: space-evenly;
    width: 175%;
    padding-top: 15%;
}

.weather-info-next-days {
    display: flex;
    flex-direction: column;
} 

/*
    tablet
**/
@media screen and(min-width: 1024px) {

}

/*
    Desktop
**/
@media screen and(min-width: 1024px) {

}