body {
    display: flex;
    flex-wrap: wrap;
    background-image: url("imagens/imgs/background_body.png");
    font-family: Helvetica Neue;
}

.main-class {
    background-color: rgba(51, 51, 51, 0.7);
    padding-top: 30px;
    margin: -10px -10px 0 260px; 
    color: white; 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.today {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.divider {
    border-left: 4px solid white;
    height: 500px;
    flex-grow: 1;
}


.tomorrow {
    display: flex;
    flex-direction:column;
    flex-grow: 1;
}

.time {
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-grow: 1;
}

.main-icon {
    height: 75px;
    width: 75px;
    padding-right: 30px;
}

.temperature {
    display: flex;
    padding-left: 60px;
}

.main-temperature {
    font-size: 350%;    
}

.wind {
    font-size: 150%;
    padding-left: 40px;
    padding-top: 15px;
}

.weather-conditions {
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
}

.weather-conditions-rain {
    display: flex;
    padding-top: 50px;
    justify-content: space-evenly;
}

.list {
    display: flex;
    padding-bottom: 20px;
}

.sidebar-icon {
    padding-right: 15px;
}

.sidebar {
    background-color: rgba(51, 51, 51, 0.6);
    color: white;
    position: absolute;
    height: 100%;
    padding-right: 10px;
    margin: -10px 0 10px -10px;    
}

.searchbox {
    padding: 50px 10px 20px 30px;
}

.search {
    width: 180px;
}

.cities {
    list-style-type: none;
}

.magnifier {
    height: 20px;
    width: 20px;
}

.next-days {
    color: #333;
    padding-left: 340px;
    display: flex;
    flex-direction: column;
}

.footer-icon {
    height: 50px;
    width: 50px;
    padding-bottom: 20px;
}
